.preview {
  padding: 2rem 3rem;

  &__title {
    color: $marine-blue;
    font-size: 2.5rem;
    font-weight: 700;
  }

  &__description {
    color: $cool-gray;
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 1.3rem;
  }

  &__content {
    margin-top: 2rem;
  }
}
