// Primary
$marine-blue: #02295a;
$purplish-blue: #473dff;
$pastel-blue: #adbeff;
$light-blue: #eef5ff;
$blue: #bde2fc;
$strawberry-red: #ed3548;

// Neutral
$cool-gray: #9699ab;
$light-gray: #d6d9e6;
$magnolia: #f0f6ff;
$alabaster: #fafbff;
$white-main: #ffffff;
